h1 {
    all: inherit;
}

.show-sm {
    display: none;
}

.intro {
    width: 50%;
}

.modal__content--support-form {
    background-color:#ffba00;
}

.modal__content--thank-you-form {
    background-color:#005e59;
}

.form__submit {
    margin: 40px 0 40px 0;
}

.modal__content--contact-form {
    background-color:#005e59;
  /* background-color:#ffba00; */
}

.form__input:focus + .form__row-border_email {
	width:45%;
}

.form__input:focus + .form__row-border_phone {
	width:45%;
    margin-left: 54%;
}

.form__input {
    font-size: 16px;
}

#contact_form_message {
    height: auto;
}

.section__description--centered {
    width: 70%;
}

.grid__client-logo img {
    height: 15vh;
    opacity: 0.6;
    filter: grayscale(1);
    -o-object-fit: contain; /*keep aspect ratio*/
    object-fit: contain; /*keep aspect ratio*/
}

.grid__client-logo a:hover img{
    opacity: 1 !important;
    filter: none;
}

.pricing__signup--hidden{
	display:none;
}

.form__container {
    padding: 20px 0 0px 0;
}

.switcher__button {
    font-weight: bold;
    font-size: 120%;
}

/*===============================================*/
/*  7.12 CUSTOM SECTION - FAQ			 */
/*===============================================*/
.grid--faq .grid__title{
	font-size:36px;
	line-height:46px;
	font-weight:700;
	padding:10px 0 20px 0;
	margin:0px;
	position:relative;
}
.grid--faq .grid__text{
	font-size:18px;
	color:#848484;
	line-height:26px;
}
.grid--faq .grid__list{
	padding:20px 0 0 0;
}
.grid--faq .grid__list li{
	background:url(../images/checked.png) no-repeat 0 50%;
	font-size:18px;
	padding:10px 0 10px 40px;
}
.faq{
	width:100%;
	margin:auto;
}
.faq__item {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom:1px #f7f8f9 solid;
}
.faq__input{
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.faq__label {
  position: relative;
  display: block;
  cursor: pointer;
  padding:20px;
  font-size:18px;
  font-weight:300;
      -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.faq__content {
  max-height: 0;
  overflow: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
	background-color: #f7f8f9;
}
.faq__content p {
  padding:20px;
  font-size:16px;
}
.faq__input:checked ~ .faq__content {
  max-height: 300px;
}
.faq__input:checked ~ .faq__label,  .faq__label:hover{
  background-color: #ebfbf5;
  color:#1d1d1d;
  font-weight:400;
  font-size:20px;
}
.faq__label:hover span{
  transform: rotateX(180deg);
  background:url(../images/drop-down-faq-selected.png) no-repeat center;
}
.faq__label span {
  position: absolute;
  right: 2%;
  top: 45%;
  display: block;
  width: 11px;
  height: 6px;
  text-align: center;
  background:url(../images/drop-down-faq.png) no-repeat center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.faq__input[type=radio]:checked + .faq__label span {
  transform: rotateX(180deg);
  background:url(../images/drop-down-faq-selected.png) no-repeat center;
}

#price_note {
    padding-left: 10%;
}

@media screen and (max-width: 800px) {
    .intro {
        width: 90%;
    }

    .modal__content--support-form {
        background-color: inherit;
    }

    .modal__content--contact-form {
        background-color: inherit;
    }

    .modal__content--thank-you-form {
        background-color: inherit;
    }

    .grid__client-logo img {
        max-width: 50%;
    }

    #faq {
        margin-bottom: 100px;
    }

    #price_note {
        padding-left: 5%;
    }

    .intro__title {
        font-size: 49px;
        font-weight: bold;
    }
}

@media screen and (max-width: 600px) {
    .hide-sm {
        display: none;
    }

    .show-sm {
        display: inherit;
    }

    .intro__subtitle {
        font-size: 18px;
    }

    .intro__description {
        font-size: 14px;
    }

    .intro__title {
        font-size: 24px;
    }
}
